<article class="artTemplate" id="artTemplate">
    <h1 class="heading">{{heading}}</h1>
    <div class="author">{{author}}</div>
    <div class="url">{{authorUrl}}</div>
    <div class="artbody">{{{artbody}}}</div>
    <div class="pub">{{publishedOn}}</div>
    <div class="cat">{{category}}</div>
</article>
